@import "../../colors.scss";

.createtopics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  @keyframes extend {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  animation-duration: 0.5s;
  animation-name: extend;

  hr {
    width: 100%;
    border: solid &px $carbon;
  }

  input {
    background-color: $cool-grey-1;
  }

  &_form {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &_title {
      height: 5%;
      width: 100%;
      padding: 0 1rem;

      #title {
        width: 85%;
        border-radius: 0.5rem;
      }
    }

    &_categories {
      height: 5%;
      width: 100%;
      padding: 0 1rem;

      justify-content: start;

      > select {
        margin-left: 1rem;
        box-shadow: 0 0 5px $carbon;
        border: solid 1.5px $dark-purple-1;
        background-color: $dark-purple-3;
        color: $warm-grey-1;
      }
    }

    &_setTags {
      height: 5%;
      width: 100%;
      padding: 0 1rem;

      &_input {
        > input {
          border-radius: 0.5rem 0 0 0.5rem;
        }

        > button {
          width: 2rem;
          box-shadow: 0 0 5px $carbon;
          border: solid 1.5px $dark-purple-1;
          background-color: $dark-purple-3;
          color: $warm-grey-1;
          border-radius: 0 0.5rem 0.5rem 0;
          cursor: pointer;
        }
      }
    }

    &_tags {
      height: 5%;
      width: 100%;
      background-color: $dark-purple-7;
      border-radius: 0.2rem;
      justify-content: start;
      overflow: scroll;
      overflow-y: hidden;

      &_single {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        * {
          padding: 0 0.2rem;
        }

        > button {
          border: solid 1.5px $dark-purple-1;
          background-color: $dark-purple-3;
          color: $warm-grey-1;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }

    &_editor {
      height: 58%;
      width: 100%;
    }

    &_send {
      > button {
        height: 25px;
        margin: 20px auto 0 auto;
        box-shadow: 0 0 5px $carbon;
        border: solid 1.5px $dark-purple-1;
        background-color: $dark-purple-3;
        color: $warm-grey-1;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }

  .topicMessage {
    position: fixed;
    top: 0;
    left: 0;

    &_show {
      visibility: visible;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        background-color: $carbon;
        color: $cool-grey-1;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    &_hide {
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 768px) {
  .createtopics {
    max-width: 1200px;
  }
}
