.neuronSettings {
  max-width: 100%;
}

.form_container {
  height: 100%;
  max-width: 100%;
  display: flex;
  display: grid;

  // justify-content: center;
}

.settingsTitle {
  // border: 1px
  // solid purple;
  padding: 5px;
}
