@import "../../colors.scss";

.carousel {
  width: 100%;
  height: 20%;

  .item {
    width: 100px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      max-width: 100%;
    }
  }

  &_missTag {
    color: $dark-purple-3;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    width: 60%;
    height: auto;
  }
}
