@import "../../colors.scss";

.markdown {
  height: 100%;
  width: 100%;

  .preview {
    height: 67%;
    width: 100%;
    border-radius: 0.5rem;
    white-space: pre-line;
    overflow-y: scroll;
    padding: 0.5rem;
    margin-bottom: 4%;

    img {
      width: 100%;
    }

    p {
      width: 100%;
      text-align: justify;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-x: scroll;
    }

    code {
      display: block;
      width: 100%;
      padding: 0.3rem;
      font-size: 90%;
      background-color: $cool-grey-3;
      overflow-y: scroll;
    }

    blockquote {
      width: 100%;
      background-color: $warm-grey-2;
      color: $cool-grey-1;
      padding: 0.2rem 1rem;
      border-radius: 0.5rem;

      &::before,
      &::after {
        content: "``";
      }
    }
  }

  .editor {
    height: 30%;
    width: 100%;
    border: solid 0.1rem $cool-grey-4;
    background-color: $cool-grey-2;
    padding: 0.5rem;
    resize: none;
  }
}
