@import "../../colors.scss";

.topicCard {
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  border-radius: 0.5rem;
  background-color: $warm-grey-2;
  box-shadow: 0 0 5px $warm-grey-6;

  &_title {
    background-color: $dark-purple-9;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 5px $warm-grey-6;
    word-break: break-all;
  }

  &_summary {
    width: 100%;
    margin: 0.2rem;
    border-radius: 0.3rem;
    padding: 1rem;
    height: 80%;
    overflow: scroll;
    background-color: $warm-grey-3;

    .markdown {
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      white-space: pre-line;
      overflow-y: scroll;
      padding: 0.5rem;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-indent: 1rem;
      }

      img {
        width: 100%;
      }

      p {
        width: 100%;
        text-align: justify;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-x: scroll;
      }

      code {
        display: block;
        width: 100%;
        padding: 0.3rem;
        font-size: 90%;
        background-color: $dark-purple-7;
        color: inherit;
        overflow-y: scroll;
      }

      blockquote {
        width: 100%;
        background-color: $warm-grey-2;
        color: $cool-grey-1;
        padding: 0.2rem 1rem;
        border-radius: 0.5rem;

        &::before,
        &::after {
          content: "``";
        }
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;

    &_button {
      background-color: $dark-purple-5;
      border-radius: 0.5rem 0.5rem;
      cursor: pointer;
    }
  }
}
