// @media (min-width: 768px) {

// }

.users_filter {
  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72%,
    90%,
    to {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
  }
}

.carousel {
  margin-bottom: 30%;
}
