@import "../../colors.scss";

.navbar {
  position: fixed;
  bottom: 1%;
  height: 10%;
  width: 98%;
  background-color: $warm-grey-2;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px $carbon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px 5px 5px;
  z-index: 11;

  > a:hover {
    transform: scale(1.1);
    transition: transform 200ms ease;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    max-width: 1200px;
    top: 1%;
    padding: 3rem 3rem 3rem 3rem;
  }
}
