@import "../../colors.scss";

.navbar {
  bottom: 1%;
  height: 10%;
  width: 100%;
  background-color: $warm-grey-2;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px $carbon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px 5px 5px;
  z-index: 11;

  > a:hover {
    transform: scale(1.1);
    transition: transform 200ms ease;
  }
}
