@import "../../colors.scss";

.categories {
  height: 88%;
  width: 100%;

  &_category {
    height: 5%;
    width: 100%;
    padding: 1rem;

    &_open {
      height: 55%;
      transition: height 300ms ease-in-out;
      > *:not(.categories_category_name) {
        visibility: visible;
        opacity: 1;
        transition: opacity 200ms linear 300ms, visibility 0ms linear 300ms;
      }

      > div {
        margin-bottom: 10%;
      }
    }

    &_close {
      height: 5%;
      transition: height 300ms ease-in-out;
      > *:not(.categories_category_name) {
        visibility: hidden;
        opacity: 0;
      }
    }

    &_name {
      width: 100%;
      padding: 1%;
      margin: 1rem 0;
      background-color: $dark-purple-1;
      color: $warm-grey-1;
      cursor: pointer;
    }

    &_content {
      padding: 0.5rem;
      width: 100%;
    }

    &_missing {
      &_visible {
        display: flex;
        justify-content: center;
        visibility: visible;
      }

      &_hidden {
        display: flex;
        justify-content: center;
        visibility: hidden;
      }
    }
  }

  &_filter {
    margin: 1.6rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .categories {
    &_category {
      &_name {
        text-align: center;
      }

      &_open {
        height: 60%;
      }
    }

    &_filter {
      margin: 3rem 0;
    }
  }
}
