@import "../../colors.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88%;
    width: 100%;
  }

  @keyframes extend {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  animation-duration: 0.5s;
  animation-name: extend;
}

@media screen and (min-width: 1200px) {
  .home {
    max-width: 1200px;

    &_content {
      margin-top: 8rem;
      display: grid;
      grid-template-rows: 20%;
      grid-template-areas:
        "chart userHeader"
        "chart neuronList";

      .userHeader {
        grid-area: userHeader;
      }

      .chart {
        grid-area: chart;
        width: 800px;
      }

      .neuronList {
        grid-area: neuronList;
      }
    }
  }
}
