@import "../../colors.scss";

.avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-image: url("../../assets/avatarDefaultv2.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes changetogreen {
    from {
      border: solid 0.1rem $warm-grey-2;
      box-shadow: 0 0 1rem $warm-grey-2;
    }

    to {
      border: solid 0.1rem $green-apple;
      box-shadow: 0 0 1rem $green-apple;
    }
  }

  @keyframes changetoorange {
    from {
      border: solid 0.1rem $warm-grey-2;
      box-shadow: 0 0 1rem $warm-grey-2;
    }

    to {
      border: solid 0.1rem $orange;
      box-shadow: 0 0 1rem $orange;
    }
  }

  &.on {
    animation-name: changetogreen;
  }

  &.off {
    animation-name: changetoorange;
  }
}
