$dark-purple-1: #7c3585;
$dark-purple-3: #99619e;
$dark-purple-5: #b68fbc;
$dark-purple-7: #d3bad7;
$dark-purple-9: #f0e9f1;

$light-purple-1: #190717;
$light-purple-3: #2b0c2c;
$light-purple-5: #3c113f;
$light-purple-7: #4c1451;
$light-purple-9: #661b6e;

$warm-grey-1: #e0ded8;
$warm-grey-2: #c3beb4;
$warm-grey-3: #afa59b;
$warm-grey-4: #988f86;
$warm-grey-5: #82786f;
$warm-grey-6: #675c53;

$cool-grey-1: #f2f2f2;
$cool-grey-2: #d7d7d7;
$cool-grey-3: #b9b9b9;
$cool-grey-4: #a0a0a0;
$cool-grey-5: #747678;
$cool-grey-6: #4d4f53;

$carbon: #333333;

$orange: #e05206;

$green-apple: #82be00;
