$dark-purple-1: #7c3585;
$dark-purple-2: #8b4c92;
$dark-purple-3: #99619e;
$dark-purple-4: #a877af;
$dark-purple-5: #b68fbc;
$dark-purple-6: #c5a5ca;
$dark-purple-7: #d3bad7;
$dark-purple-8: #e3d2e5;
$dark-purple-9: #f0e9f1;

$light-purple-1: #190717;
$light-purple-2: #210921;
$light-purple-3: #2b0c2c;
$light-purple-4: #320e34;
$light-purple-5: #3c113f;
$light-purple-6: #451348;
$light-purple-7: #4c1451;
$light-purple-8: #56185b;
$light-purple-9: #661b6e;

$warm-grey-1: #e0ded8;
$warm-grey-3: #c3beb4;
$warm-grey-5: #afa59b;
$warm-grey-7: #988f86;
$warm-grey-9: #82786f;
$warm-grey-11: #675c53;

$cool-grey-1: #f2f2f2;
$cool-grey-3: #d7d7d7;
$cool-grey-5: #b9b9b9;
$cool-grey-7: #a0a0a0;
$cool-grey-9: #747678;
$cool-grey-11: #4d4f53;

$carbon: #333333;
