@import "../../colors.scss";

.userheader {
  width: 100%;
  height: 18%;
  background-color: $warm-grey-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 6% 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px $carbon;
  > * {
    width: 30%;
    height: 90%;
  }

  &_pseudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_avatarContainer {
    width: 53%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-image: url("../../assets/avatarDefaultv2.svg");
    background-repeat: no-repeat;
    background-position: center;

    @keyframes changetogreen {
      from {
        border: solid 0.1rem $warm-grey-2;
        box-shadow: 0 0 1rem $warm-grey-2;
      }

      to {
        border: solid 0.1rem $green-apple;
        box-shadow: 0 0 1rem $green-apple;
      }
    }

    &_on {
      animation-duration: 1s;
      animation-name: changetogreen;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes changetoorange {
      from {
        border: solid 0.1rem $warm-grey-2;
        box-shadow: 0 0 1rem $warm-grey-2;
      }

      to {
        border: solid 0.1rem $orange;
        box-shadow: 0 0 1rem $orange;
      }
    }

    &_off {
      animation-duration: 1s;
      animation-name: changetoorange;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  &_shortcuts {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

    > * {
      border-radius: 50%;
      margin-right: 0.5rem;

      &:hover {
        transform: scale(1.4) rotate(1turn);
        transition: transform 300ms ease-in-out;
      }
    }
  }
}
