@import "../../colors.scss";

.userheader {
  width: 100%;
  height: 18%;
  background-color: $warm-grey-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 10% 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px $carbon;
  > * {
    height: 90%;
  }

  &_pseudo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &_avatarContainer {
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_shortcuts {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .userheader {
    height: 60%;
    width: 60%;
    margin: 0;

    &_pseudo {
      width: 0;
    }

    &_avatarContainer {
      width: 0;
      height: 170%;
    }

    &_shortcuts {
      width: 0;
    }
  }
}
