@import "../../colors.scss";

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_text {
    width: auto;
    background-color: $cool-grey-1;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
  }

  &_send {
    width: auto;
    background-color: $dark-purple-5;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .search {
    height: 2rem;
    width: 40%;
    margin: 0 auto;

    &_text {
      height: 100%;
    }

    &_send {
      height: 100%;
    }
  }
}
