@import "../../colors.scss";

.NeuronCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;

  @keyframes changetoredheart {
    from {
      background-image: url("../../assets/images/emptyHeart.png");
    }
    to {
      background-image: url("../../assets/images/fullRedHeart.png");
    }
  }
  @keyframes changetoemptyheart {
    from {
      background-image: url("../../assets/images/fullRedHeart.png");
    }
    to {
      background-image: url("../../assets/images/emptyHeart.png");
    }
  }

  .isFavorite {
    animation-name: changetoredheart;
    animation-duration: 1s;
    // animation-iteration-count: infinite;
  }

  .notFavorite {
    animation-name: changetoemptyheart;
    animation-duration: 1s;
    // animation-iteration-count: infinite;
  }
}
//   .neuron-card-content {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;
//     height: 100%;
//     width: 100%;
//     background-color: $warm-grey-2;
//     border-radius: 1rem;
//     cursor: pointer;
//     box-shadow: 0 0 1rem $warm-grey-2;
//     transition: all 0.3s ease-in-out;

//     &:hover {
//       box-shadow: 0 0 1rem $green-apple;
//       background-color: $green-apple;
//     }

//     .neuron-card-content__title {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-content: center;
//       height: 10%;
//       width: 100%;
//       padding: 0.5rem 1rem;
//       background-color: $warm-grey-2;
//       border-radius: 1rem 1rem 0 0;
//       color: $white;
//       font-size: 1.5rem;
//       font-weight: 600;
//       text-align: center;
//       text-transform: uppercase;
//       transition: all 0.3s ease-in-out;

//       &:hover {
//         background-color: $green-apple;
//       }

//       .neuron-card-content__title__favorite {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-content: center;
//         height: 100%;
//         width: 10%;
//         background-color: $warm-grey-2;
//         border-radius: 1rem 1rem 0 0;
//         color: $white;
//         font-size: 1.5rem;
//         font-weight: 600;
//         text-align: center;
//         text-transform: uppercase;
//         transition: all 0.3s ease-in-out;

//         &:hover {
//           background-color: $green-apple;
//         }
//       }
//     }

//     .neuron-card-content__image {
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-content: center;
//       height: 80%;
//       width: 100%;
//       background-color: $warm-grey-2;
//       border-radius: 0 0
// }
