@import "../../colors.scss";

.braindeployer {
  height: 150px;
  width: 110px;
  border-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;

  &:hover {
    background-color: $warm-grey-5;
    transition: background-color 400ms linear;

    & > svg {
      transform: scale(0.4) rotate(1turn);
      transition: transform 300ms ease-in-out;
    }

    & > .first {
      visibility: visible;
      transform: translate(-10px, -45px) rotate(1turn);
      transition: transform 200ms ease-in-out;
    }

    & > .second {
      visibility: visible;
      transform: translate(-60px, 0) rotate(1turn);
      transition: transform 300ms ease-in-out;
    }

    & > .third {
      visibility: visible;
      transform: translate(-10px, 45px) rotate(1turn);
      transition: transform 400ms ease-in-out;
    }
  }

  &_circle {
    position: absolute;
    visibility: hidden;
  }
}
